@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: "IBM Plex Serif", "Times New Roman";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e4e4ef;
    font-size: 1em;
}

body {
    display: flex;
    justify-content: center;
    background-color: #181818;
    padding: 30px;
}

.window {
    width: 70%;
    font-size: 30px;
}

h1, h2, h3 {
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-size: 4em;
    color: #ffdd33;
}

h2 {
    font-size: 1.5em;
    color: #73c936;
}

h3 {
}

p, li {
    font-family: "IBM Plex Serif", "Times New Roman";
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    display: flex;
}

.skill {
    width: 200px;
    height: 200px;
    flex: 0 0 200px;
}
